* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
    background-color:seagreen;
}

header h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px 0 20px 0;
}

