* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
    background-color:seagreen;
}

header h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px 0 20px 0;
}

#todo-list {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid gray;
  border-radius: 8px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  background-color:rgb(73, 73, 73);
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

li button {
  background-color: #626262;
  font-size: 0.8rem;
}